.container {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.shipIcon {
  margin-right: 16px;
}

.shipIcon img {
  width: 100px;
  height: 32px;
}

.circles {
  display: flex;
  gap: 8px;
}

.circle {
  width: 16px;
  height: 16px;
  border: 2px solid gray;
  border-radius: 50%;
}

.hit {
  background-color: red;
  border-color: red;
}
