#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  display: flex;
  flex: 1 1;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 20px;
  box-sizing: border-box;
}

.layout {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
  align-items: start;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.boardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 940px) {
  .layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .boardWrapper {
    margin-bottom: 20px;
    order: -1;
  }

  .sidebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .ship {
    transform: scale(0.8);
  }
}

@media (max-width: 320px) {
  .layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .boardWrapper {
    order: -1;
  }
}
